body form
{
	margin: 30px 8%;
	min-height: 400px;
	text-align: center;
}

form input:not([type="button"])
{
	width: calc(100% - 2*10px);
	height: 25px;
	
	min-width: 200px;
	max-width: 500px;
	
	margin-bottom: 15px;
	padding: 5px 10px;
	
	border: none;
	border-radius: 5px;
	
	color: #010310;
}

form input[type="button"]
{
	width: 50%;
	height: 25px;
	
	min-width: 100px;
	max-width: 400px;
	
	margin-bottom: 15px;
	
	font-weight: bold;
	
	border : 0px solid black;
	border-radius: 3px;
	
	background: orange;
	color: rgb(1, 3, 16);
}

form input[type="button"]:hover
{
	background: rgb(255,195,30);
	border : 1px solid white;
}